.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.edit-button {
}

div.header {
  padding: 0 2em 0 2em;
}
div.header img {
  border-radius: 0 0 10px 10px;
}
