<!--<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card>
    <mat-card-header>
      <mat-toolbar color="primary" fxLayoutAlign="center center">
        <span>Iniciar sesion</span>
      </mat-toolbar>
    </mat-card-header>
    <mat-card-content>
      <form fxLayoutAlign="stretch" fxLayout="column">
        <mat-form-field>
          <input matInput type="text" placeholder="Usuario" />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [type]="hidden() ? 'password' : 'text'"
            placeholder="Contraseña"
          />
          <button
            mat-icon-button
            color="accent"
            type="button"
            (click)="switchHide()"
            matIconSuffix
          >
            <mat-icon>{{hidden() ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <button mat-raised-button color="accent" type="button">Ingresar</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>-->
<mat-toolbar mat-dialog-title color="primary" fxLayoutAlign="center center">
  <span>Iniciar sesion</span>
</mat-toolbar>
<mat-dialog-content>
  <form fxLayoutAlign="stretch" fxLayout="column">
    <mat-form-field>
      <input matInput type="text" placeholder="Usuario" />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [type]="hidden() ? 'password' : 'text'"
        placeholder="Contraseña"
      />
      <button
        mat-icon-button
        color="accent"
        type="button"
        (click)="switchHide()"
        matIconSuffix
      >
        <mat-icon>{{hidden() ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="authService.login('Agustin', 'Rossi123')"
    >
      Ingresar
    </button>
  </form>
</mat-dialog-content>
